@model CampusGuidebook.ViewModels.EventViewModel;
@addTagHelper "*, Microsoft.aspNetCore.Mvc.TagHelpers"
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var visability = Model.ShowReject ? "block" : "none";
}

<h1>Requested Event</h1>

<table>
  <tr>
    <th>Event Name</th>
    <th>Description</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>@Model.Name</td>
    <td>@Model.Description</td>
    <td>@Model.Location</td>
  </tr>
</table>


<form asp-controller="Home" asp-action="EventResponse" method="Post">

    <div hidden="true">
    <input asp-for= "Name" value=@Model.Name>
    <input asp-for= "Description" value=@Model.Description>
    <input asp-for= "Location" value=@Model.Location>
    </div>

    <div>
        <h2>Approve or reject the Event</h2>
            <label asp-for="UploadStatus">Event Decision?:</label>
            <select type="text" asp-for="UploadStatus">
                <option value=1 asp-controller="Home" asp-action="CloseReason">Approve</option>
                <option value=3 asp-controller="Home" asp-action="OpenReason">Request changes</option>
                <option value=2 asp-controller="Home" asp-action="OpenReason">Denied</option>
                
            </select>
    </div>

    
</form>
<span style="display:@visability">
    <p>pick or state a reason</p>
    <select typeof="text" asp-items="@new SelectList(@Model.listOfReasons)"></select>
        <option disabled selected value="">Select a reason</option>
    <imput typeof="text"></imput>
        <button class="" type="submit" asp-controller="Home" asp-action="EventResponse">Submit</button>
</span>


<!-- In Page temp styles for readability-->

<style>
    
   th{
       padding-left: .5rem;
       padding-right: .5rem;
       border-right: solid 1px black;
   }
</style>