@model CampusGuidebook.ViewModel.EventModel
@addTagHelper "*, Microsoft.aspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <p>Event status</p>
        <select asp-for="EventStatus" asp-items="@new SelectList(Enum.GetNames(typeof(EventStatusType)))"></select>
        <option disabled selected value="">Pending...</option>
</div>

