html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.selectToLeft {
    float: left;
}

.TxtBoxToRight {
    padding-left: .5rem;
    clear: both;
}

.SubButton
th {
    padding-left: .5rem;
    padding-right: .5rem;
    border-right: solid 1px black;
}
.validation{
    color: red;
}